element.style {
}
a:visited {
    color: #14304f;
    border-bottom: 2px solid #14304f;
}
a {
    color: #2d5d94;
    border-bottom: 2px solid #2d5d94;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
main {
    position: relative;
    padding: 20px;
    color: #3e3e3e;
    /* background-color: #f0f0f0; */
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin: 0;
}